<root>
    <group> <!-- Logos with just a image -->
        <sizes>
            <size>5</size>
            <size>8</size>
            <size>12</size>
            <size>16</size>
            <size>20</size>
            <size>30</size>
            <size>40</size>
        </sizes>
        <files>
            <file>ost-bubble_50mm_Copper.svg</file>
            <file>ost-bubble_50mm_SilkScreen.svg</file>
            <file>admittansen_50mm_Copper.svg</file>
            <file>admittansen_50mm_SilkScreen.svg</file>
			<file>espressif-logo_50mm_Copper.svg</file>
        </files>
    </group>
    <group> <!-- logos in landscape with text -->
        <sizes>
            <size>10</size>
            <size>15</size>
            <size>25</size>
            <size>40</size>
        </sizes>
        <files>
            <file>espressif_200mm_Copper.svg</file>
			
        </files>
    </group>
    <group><!-- Random symbol that might be nice to have -->
        <sizes>
            <size>5</size>
            <size>6</size>
            <size>8</size>
            <size>12</size>
        </sizes>
        <files>
            <file>wifi_50mm_Copper.svg</file>
            <file>wifi_50mm_SilkScreen.svg</file>
            <file>led_50mm_Copper.svg</file>
            <file>led_50mm_SilkScreen.svg</file>
        </files>
    </group>
</root>